.unit{
    height: 150px;
    width:  220px;
    background-color:  cyan;
    color: rgb(4,6,9);
    float: left;
    margin: 10px;
    padding: 10px;
}
.unit1{
    height: 150px;
    width:  220px;
    background-color:  lightpink;
    color: rgb(4,6,9);
    float: left;
    margin: 10px;
    padding: 10px;

}